<!-- Used by theme-home-builtin-1,2,3 -->

{% for profile in site.data.bio.basics.profiles %}
   <a href="{{ profile.url }}"> <i class="big {{ profile.network | downcase }} icon icon-color"></i> </a>
{% endfor %}

{% if site.data.bio.basics.email %}
  <a href="mailto:{{ site.data.bio.basics.email }}"> <i class="big mail square icon icon-color"></i> </a>
{% endif %}

<a href="https://bwee.app"> <img src="{{ site.baseurl }}/images/bwee.png" style="width: 1.5em; height: 1.5em; vertical-align: middle; border-radius: 4px;" alt="Bwee"> </a>