<div class="ui raised centered segment grid" style="margin-top: 10px; margin-left: auto; margin-right: auto; width: 830px;">
  <div class="three wide row" style="padding-bottom: 0">
    <div class="column">
      <a class="ui big blue button" href="../resume/jerry_resume.doc" download>Download Word</a>
    </div>
    <div class="column"></div>
    <div class="column">
      <a class="ui big red button" href="../resume/jerry_resume.pdf" download>Download PDF</a>
    </div>
  </div>
  <div class="row">
    <iframe src="../resume/jerry_resume.pdf#toolbar=0" width="800px" height="1032px">
      Your browser does not support viewing PDFs. Please download and view separately.
    </iframe>
  </div>
</div>