<div class="ui raised centered segment stackable grid" style="margin-top: 15px; margin-left: auto; margin-right: auto; max-width: 848px; padding: 14px;">
  <div class="row">
    <h2 class="ui header">Last updated 5/19/17</h2>
  </div>
  <div class="row">
    <div class="seven wide column" style="text-align: center;"><a class="ui big blue button" href="../resume/jerry_resume.doc" download>Download Word</a></div>
    <div class="seven wide column" style="text-align: center;"><a class="ui big red button" href="../resume/jerry_resume.pdf" download>Download PDF</a></div>
  </div>
  <div class="row pdf-viewer">
    <object data="../resume/jerry_resume.pdf#toolbar=0" type="application/pdf" width="800px" height="1032px">
      <p>Your browser does not support viewing PDFs. Please download and view separately.</p>
    </object>
  </div>
  <div class="row pdf-message" style="display: none;">
    <p>Viewing on mobile devices is not supported. Please download and view separately.</p>
  </div>
</div>
