<div class="ui raised centered segment stackable grid" style="margin-top: 15px; margin-left: auto; margin-right: auto; max-width: 848px; padding: 14px;">
  <a class="ui big red button" href="../resume/jerrywu_resume.pdf" download>Download PDF</a>
  <div class="row pdf-viewer">
    <object data="../resume/jerrywu_resume.pdf#toolbar=0" type="application/pdf" width="800px" height="1032px">
      <p>Your browser does not support viewing PDFs. Please download and view separately.</p>
    </object>
  </div>
</div>
